<div class="container d-flex flex-column align-items-center">
    <div class="card m-5 w-75">
        <h1 class="m-5 text-center">{{result.title}}</h1>
        <h2 class="m-5 text-center">PRECIO: {{result.price}}</h2>
    <p>DESCRIPCION: {{result.description}}</p>
    <p>CATEGORIA: {{result.category}}</p>
    <p>STOCK: {{result.stock}}</p>
    <button class="btn btn-dark">Agregar al carrito</button>
    </div>

</div>